<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />

  <title>Tu Perfil</title>
</head>

<body class="container" style="align-items: center; text-align: center; padding-top: 40px; padding-bottom: 50px; 
background-color: #f5f5f58f; margin-top: 10px">

  <nav th:replace="fragments :: navbar" sec:authorize="hasRole('ADMIN')"></nav>
  <nav th:replace="fragmentsClasificador :: navbar" sec:authorize="hasRole('CLASIFICADOR')"></nav>

  <br />

  <h1>Bienvenido a tu Perfil</h1>

  <br />

  <h2>
    <p th:text="${perfil.nombre}"></p>
    <p th:text="${perfil.apellido}"></p>
  </h2>

  <br />

  <div>
    <a class="btn btn-primary btn-sm" th:href="@{/clasificadores/editar/__${perfil.dni}__}">Editar</a>
  </div>

  <br />

  <hr />

  <div th:unless="${rutas.isEmpty}" class="table-responsive">
    <table class="table table-hover table-sm table-bordered">
      <thead class="table-secondary text center">
        <tr>

          <th class="col-md-1 ps-2" scope="col">Departamento</th>
          <th class="col-md-1 ps-2" scope="col">Fecha</th>
          <!-- <th class="col-md-1 ps-2" scope="col">Cantidad de Clasificadores</th>
                  <th class="col-md-1 ps-2" scope="col">Valor de la ruta</th> -->
          <th class="col-md-1 ps-2" scope="col">Recuperador</th>
          <th class="col-md-3 px-md-2" scope="col">Sumate</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="ruta : ${rutas}">

          <td class="col-md-3 px-md-2" th:text="${ruta.departamento}"></td>
          <td class="col-md-3 px-md-2" th:text="${ruta.fecha}"></td>
          <!-- <td class="col-md-3 px-md-2" th:text="${ruta.cantidadClasificadores}"></td>
                  <td class="col-md-3 px-md-2" th:text="${ruta.valorRuta}"></td> -->

          <td class="col-md-3 px-md-2"
            th:text="|${ruta.recuperador.nombre + ' ' + ruta.recuperador.apellido + ' DNI: ' +ruta.recuperador.dni}|">
            <!-- <td class="col-md-3 px-md-2 d-flex justify-content-around w-100">
                          <a class="btn btn-secondary btn-sm" th:href="@{/materiales/formulario/__${ruta.id}__}">Editar</a>
                            
                        </td> -->
          </td>

          <td>
            <div class="radio"><label><input class="check-ruta" th:attr="data-id=|${ruta.id}|" type="checkbox"
                  onclick="checks(event)" id="express" /></label></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <form id="formulario" class="needs-validation" th:action="@{/clasificadores/sumarRuta/__${perfil.dni}__}"
    method="POST" th:object="${material}" autocomplete="off" novalidate enctype="application/json">
    <input id="id-ruta" type="hidden" name="idRuta">
    <input type="checkbox" id="checkBoxCarton" checked onclick="enableDisable(this.checked, 'textBoxCarton')" />
    <label for="checkBoxCarton">Carton</label>
    <input type="text" id="textBoxCarton" th:field="*{carton}" />
    <br /><br />
    <input type="checkbox" id="checkBoxPlastico" checked onclick="enableDisable(this.checked, 'textBoxPlastico')" />
    <label for="checkBoxPlastico">Plastico</label>
    <input type="text" id="textBoxPlastico" th:field="*{plastico}" />
    <br /><br />
    <input type="checkbox" id="checkBoxVidrio" checked onclick="enableDisable(this.checked, 'textBoxVidrio')" />
    <label for="checkBoxVidrio">Vidrio</label>
    <input type="text" id="textBoxVidrio" th:field="*{vidrio}" />
    <br /><br />
    <input type="checkbox" id="checkBoxLatas" checked onclick="enableDisable(this.checked, 'textBoxLatas')" />
    <label for="checkBoxLatas">Latas</label>
    <input type="text" id="textBoxLatas" th:field="*{latas}" />
    <br /><br />
    <input type="checkbox" id="checkBoxPapel" checked onclick="enableDisable(this.checked, 'textBoxPapel')" />
    <label for="checkBoxPapel">Papel</label>
    <input type="text" id="textBoxPapel" th:field="*{papel}" />

    <input type="text" hidden th:value="${perfil.dni}">

    <br /><br />

    <button class="btn btn-success" type="submit">Agregar Materiales</button>
  </form>





  <script language="javascript">
    function enableDisable(bEnable, textBoxID) {
      document.getElementById(textBoxID).disabled = !bEnable;
    }

    const rutaInput = document.getElementById("id-ruta");

    function checks(e) {
      const checked = e.target.checked;
      document.querySelectorAll(".check-ruta").forEach(ch => ch.checked = false);
      e.target.checked = checked;
      rutaInput.value = checked ? e.target.getAttribute("data-id") : "";
    };

    const form = document.getElementById("formulario");
    form.addEventListener("submit", (e) => {
      e.preventDefault();
      e.stopPropagation();
      form.querySelectorAll("input[type=checkbox]").forEach(c => {
        c.disabled = true;
      });
      form.submit();
    });
  </script>
</body>

</html>